.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #fff;
    color: #0f4a97;
    padding: 20px;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: #0f4a97;
    text-decoration: none;
    font-weight: 500;
}

.sidebar a:hover {
    color: #fff;
    padding : 5px 10px;
    border-radius: 10px;
    background-color: #0f4a97;
}

.sidebar li a.active-link {
    color: #fff;
    padding : 5px 10px;
    border-radius: 10px;
    background-color: #0f4a97;
}
